<div class="top-background">
  <div class="container">
    <h1 class="top-headline">PassOn</h1>
    <p class="top-line">いろんな人と繋がってみよう！</p>
    <%= link_to 'PassOnをはじめる', new_user_registration_path, class: "btn btn-success btn-lg btn-block signup-btn" %>
    <%= link_to 'ログイン', new_user_session_path, class: "btn btn-default btn-lg btn-block login-btn" %>
  </div>
</div>
