/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* リセットCSS-始め */
 html, body, div, span, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 abbr, address, cite, code,
 del, dfn, em, img, ins, kbd, q, samp,
 small, strong, sub, sup, var,
 b, i,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section, summary,
 time, mark, audio, video {
     margin:0;
     padding:0;
     border:0;
     outline:0;
     font-size:100%;
     vertical-align:baseline;
     background:transparent;
 }

 body {
     line-height:1;
 }

 article,aside,details,figcaption,figure,
 footer,header,hgroup,menu,nav,section {
     display:block;
 }

 nav ul {
     list-style:none;
 }

 blockquote, q {
     quotes:none;
 }

 blockquote:before, blockquote:after,
 q:before, q:after {
     content:'';
     content:none;
 }

 a {
     margin:0;
     padding:0;
     font-size:100%;
     vertical-align:baseline;
     background:transparent;
 }

 /* change colours to suit your needs */
 ins {
     background-color:#ff9;
     color:#000;
     text-decoration:none;
 }

 /* change colours to suit your needs */
 mark {
     background-color:#ff9;
     color:#000;
     font-style:italic;
     font-weight:bold;
 }

 del {
     text-decoration: line-through;
 }

 abbr[title], dfn[title] {
     border-bottom:1px dotted;
     cursor:help;
 }

 table {
     border-collapse:collapse;
     border-spacing:0;
 }

 /* change border colour to suit your needs */
 hr {
     display:block;
     height:1px;
     border:0;
     border-top:1px solid #cccccc;
     margin:1em 0;
     padding:0;
 }

 input, select {
     vertical-align:middle;
 }
 /* リセットCSS-終わり */

 body {
   padding-top: 50px;
   background-color: #efefef;
 }

 .top-background {
   width: 100%;
   height: 700px;
   background-image: url(top_background_image.jpg);
   background-size: cover;
   background-position: center;
   padding-top: 100px;
 }

 /* header */
 .header {
   padding: 0 40px;
   background-color: #bfb;
 }

 .header-title {
   font-size: 30px;
 }

 .glyphicon {
   margin-right: 10px;
 }

 /* main */
 .container {
   width: 90%;
   margin:0 auto;
 }

 .flash {
   width: 100%;
   height: 80px;
   font-weight: bold;
   text-align: center;
   line-height: 80px;
   background-color: yellow;
   font-size: 22px;
   color: #999;
 }

 /* home */

 .top-headline {
   font-size: 60px;
   margin: 70px 0;
   text-align: center;
   color: #fff;
 }

 .top-line {
   font-size: 22px;
   margin-bottom: 20px;
   text-align: center;
   color: #fff;
 }

 .signup-btn {
   width: 50%;
   margin: 0 auto 50px;
 }

 .login-btn {
   width: 20%;
   margin: 0 auto 50px;
 }


 /* posts, users */

 .main {
   border-right: 2px solid #CCC;
 }

 .user-image {
   margin-bottom: 20px;
   float: left;
 }

 .user-name {
   font-size: 25px;
   float: left;
   padding: 40px;
 }

 .post-wrapper {
   width: 90%;
   margin: 0 auto;
   padding: 60px 0;
   border-bottom: 2px solid #DDD;
 }

 .post-title {
   font-size: 25px;
   display: block;
   margin-bottom: 20px;
   clear: both;

 }

 .post-image {
   margin-bottom: 20px;
 }

 .post-body {
   margin-bottom: 20px;
   font-size: 22px;
 }

 .favorite-action {
   float: left;
 }

 .edit-action {
   float: right;
 }

 .like-btn {
   margin-right: 30px;
 }

 .destroy-link {
   margin-left: 20px;
   margin-right: 20px;
 }

 .user-info {
   width: 100%;
   padding: 50px 0;
   border-bottom: 2px solid #DDD;
 }

 .post-form {
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
 }

 .user-setting {
   clear:both;
   display: block;
   padding-left: 200px;
 }

 .textarea {
   width: 80%;
   height: 150px;
 }

 .comment-wrapper {
   width: 90%;
   margin: 0 auto;
   padding: 60px 0;
   border-bottom: 2px solid #DDD;
 }

 .comment-content {
   clear:both;
 }

 .self-intro {
   padding-top: 30px;
   clear: both;
 }

.error {
  font-size: 20px;
  font-weight: bold;
  color: red;
  margin-bottom: 10px;
}

.liked-heart {
  color: #F00;
}

.unliked-heart {
  color: #CCC;
}

 /* form */

 .form-wrapper {
   padding-left: 200px;
   padding-top: 50px;
 }

 .essential-mark {
   color: #f00;
 }

 .form-factor {
   margin-bottom: 10px;
 }

 .submit {
   display: block;
   padding-left: 50px;
   padding-right: 50px;
   margin-top: 50px;
 }

 /* footer */
 footer {
   width: 100%;
   height: 100px;
   background-color: #ccc;
 }
